# Dependency directories
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for test fixtures
fixtures/

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env

# IDE/editor specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
